<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Dota2SDKConfiguration" type="Dota2WebAPISDK.Configuration.Dota2SDKSettings, Dota2WebAPISDK" />
  </configSections>

  <Dota2SDKConfiguration
    APIKey="16960447BEB497DFE0D29DC90F998AAD"
    UseXMLEngine="true"
  ></Dota2SDKConfiguration>
</configuration>